<template>

  <div id="app" style="margin: 12%">


    <nav class="nav nav-pills nav-justified">

      <a class="nav-item nav-link active" href="./index.html">ISSUE VIRTUAL CARDS</a>
      <a class="nav-item nav-link active" href="./userstats.html">USER STATISTICS</a>
    </nav>

    <form @submit.prevent="validateBeforeSubmit" v-if="!formSubmitted">

      <h1 style=" font-family: system-ui;color: #0c2073;">ISSUE VIRTUAL CARD</h1>


        <div class="form-group" :class="{'has-error': errors.has('Amount') }">


            <label class="control-label" for="Amount">Total Amount ($US):</label>
          <div class="dollar">
            <input v-model="Amount" v-validate.initial="Amount" data-rules="required|num" pattern="\d*" minlength="3" maxlength="6" class="form-control" type="text" placeholder=" Enter Amount" required>
            </div>
        </div>

        <div class="form-group" :class="{'has-error': errors.has('MCC') }" >
            <label class="control-label" for="MCC">Select MCC:</label>

            <input v-model="MCC" v-validate.initial="MCC" data-rules="required|num" class="form-control" type="number" placeholder="Click Dropdown to Select MCC codes" required>

        </div>


        <div class="form-group" :class="{'has-error': errors.has('employeeID') }">
            <label class="control-label" for="employeeID">To Whom</label>

            <input v-model="employeeID" v-validate.initial="employeeID" data-rules="required|alpha" class="form-control" type="text" placeholder="Selected Employee IDs" required>

        </div>


        <div class="form-group" :class="{'has-error': errors.has('StartDay') }">
          <label class="control-label" for="StartDay">From:</label>

            <input v-model="StartDay" v-validate.initial="StartDay" data-rules="required|alpha" class="form-control" type="text" placeholder="Enter Start Day" required>

        </div>


      <div class="form-group" :class="{'has-error': errors.has('EndDay') }">
        <label class="control-label" for="EndDay">To:</label>

          <input v-model="EndDay" v-validate.initial="EndDay" data-rules="required|alpha" class="form-control" type="text" placeholder="Enter End Day" required>

      </div>


        <button class="btn btn-primary btn-block" type="submit">Submit</button>

      <p class="text-danger"  v-if=errors.any()>All fields are required</p>

    </form>
    <div v-else>
      <h1 class="submitted">Form submitted successfully!</h1>
    </div>


  </div>
</template>

<script>


import Vue from 'vue'
import VeeValidate from 'vee-validate';

import { NavbarPlugin } from 'bootstrap-vue'

Vue.use(VeeValidate);
Vue.use(NavbarPlugin)


export default {
  data () {
    return {
      Amount: '',
      MCC: '',
      employeeID: '',
      startDay: '',
      EndDay: ''
    }
  }
,
  methods: {
    validateBeforeSubmit(e) {
        this.$validator.validateAll();

        if (!this.errors.any()) {
            this.submitForm()
        }
      },
    submitForm(){
      this.formSubmitted = true
    }
  }
}
</script>



<style>
@import url('https://cdn.syncfusion.com/ej2/ej2-dropdowns/styles/material.css');
</style>

<style>
body {
  font-family: Helvetica, sans-serif;
}
.container {
  width: 500px;
}
h1 {
  text-align: center
}
img {
  text-align: center
}
.submitted {
  color: #4fc08d;
}
.dollar{

  position: relative;
}
.dollar input{
  padding-left:15px;
}
.dollar:before {
  position: absolute;
  content:"$";
  font-weight: bold;
  font-size: 18px;
  left:4px;
  top:4px;
}

</style>
