<template>

  <div id="stats">





    <nav class="nav nav-pills nav-justified">

      <a class="nav-item nav-link active" href="./index.html">ISSUE VIRTUAL CARDS</a>
      <a class="nav-item nav-link active" href="./userstats.html">USER STATISTICS</a>
    </nav>




  </div>
</template>

<script>


import Vue from 'vue'
import VeeValidate from 'vee-validate';

import { NavbarPlugin } from 'bootstrap-vue'

Vue.use(VeeValidate);
Vue.use(NavbarPlugin)


export default {
  data () {
    return {
      Amount: '',
      MCC: '',
      employeeID: '',
      startDay: '',
      EndDay: ''
    }
  }
,
  methods: {
    validateBeforeSubmit(e) {
        this.$validator.validateAll();

        if (!this.errors.any()) {
            this.submitForm()
        }
      },
    submitForm(){
      this.formSubmitted = true
    }
  }
}
</script>



<style>
@import url('https://cdn.syncfusion.com/ej2/ej2-dropdowns/styles/material.css');
</style>

<style>
body {
  font-family: Helvetica, sans-serif;
}
.container {
  width: 500px;
}
h1 {
  text-align: center
}
img {
  text-align: center
}
.submitted {
  color: #4fc08d;
}
.dollar{

  position: relative;
}
.dollar input{
  padding-left:15px;
}
.dollar:before {
  position: absolute;
  content:"$";
  font-weight: bold;
  font-size: 18px;
  left:4px;
  top:4px;
}

</style>
